<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h1 class="card-title text-center">Editar tu cuenta</h1>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group mt-2">
              <%= f.label :nombre %>
              <%= f.text_field :nombre, autofocus: true, autocomplete: "new-nombre", class: "form-control" %>
            </div>
            <div class="form-group mt-2">
              <%= f.label :rut %>
              <%= f.text_field :rut, autofocus: true, autocomplete: "new-rut", class: "form-control" %>
            </div>
            <div class="form-group mt-2">
              <%= f.label :dirección %>
              <%= f.text_field :direccion, autofocus: true, autocomplete: "new-direccion", class: "form-control" %>
            </div>
            <div class="form-group mt-2">
              <%= f.label :teléfono %>
              <%= f.number_field :telefono, autofocus: true, autocomplete: "new-telfeono", class: "form-control" %>
            </div>
            <div class="field mt-2">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="mt-2">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="field mt-2">
              <%= f.label :contraseña %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
            <div class="field mt-2">
              <%= f.label :confirmar_contraseña %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>
            <div class="field mt-2">
              <%= f.label :contraseña_actual %><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="actions mt-3">
              <div class="d-flex justify-content-between">
                <%= link_to "Volver a las publicaciones", root_path, class: "btn btn-color btn-sm" %>
                <%= f.submit "Guardar", class: "btn btn-success btn-sm" %>
              </div>
            </div>
          <% end %>
          <hr class="my-4">
          <h3 class="mt-3">Borrar cuenta</h3>
          <div class="d-flex justify-content-center mt-3">
            <%= button_to "Borrar cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
