<%= form_with(model: solicitude) do |form| %>
  <% if solicitude.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(solicitude.errors.count, "error") %> prohibited this solicitude from being saved:</h2>
      <ul>
        <% solicitude.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <strong>Código de Solicitud:</strong> <%= solicitude.codigo %>
  </div>
  <div>
    <%= form.label :fecha_inicio, "Fecha de Inicio" %>
    <%= form.text_field :fecha_inicio, class: "form-control", readonly: true %>
  </div>
  <div>
    <%= form.label :estado, "Estado" %>
    <%= form.text_field :estado, class: "form-control", value: "Pendiente", readonly: true %>
    <%= form.hidden_field :estado, value: "Pendiente" %>
  </div>
  <div>
    <%= form.label :vehiculo_id, "Selecciona un vehículo" %>
    <%= form.collection_select :vehiculo_id, current_user.vehiculos, :id, :marca_modelo, { include_blank: "Selecciona un vehículo" }, class: "form-control" %>
  </div>
  <%= form.label :servicio_ids, "Selecciona los servicios:" %>
  <% Servicio.all.each do |service| %>
    <div class="form-check">
      <%= form.check_box :servicios_ids, { multiple: true }, service.id, nil %>
      <%= form.label service.nombre, class: "form-check-label" %>
    </div>
  <% end %>
  <div class="d-flex justify-content-between ">
    <%= link_to "Volver a las solicitudes", solicitudes_path, class: "btn btn-color mt-3" %>
    <%= form.submit "Guardar", class: "btn btn-success mt-3" %>
  </div>
<% end %>
