<div id="<%= dom_id solicitude %>">
  <p>
    <strong>Codigo:</strong>
    <%= solicitude.codigo %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= solicitude.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha termino:</strong>
    <%= solicitude.fecha_termino %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= solicitude.estado %>
  </p>

  <p>
    <strong>User:</strong>
    <%= solicitude.user_id %>
  </p>

  <p>
    <strong>Vehiculo:</strong>
    <%= solicitude.vehiculo_id %>
  </p>

  <p>
    <strong>Servicio:</strong>
    <%= solicitude.servicio_id %>
  </p>

</div>
