<p style="color: green"><%= notice %></p>

<%= render @solicitude %>

<div>
  <%= link_to "Edit this solicitude", edit_solicitude_path(@solicitude) %> |
  <%= link_to "Back to solicitudes", solicitudes_path %>

  <%= button_to "Destroy this solicitude", @solicitude, method: :delete %>
</div>
